# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
.envrc
.venv/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
.streamlit/secrets.toml

# Logs
*.log

# VS Code
.vscode/

# API keys and secrets
*.env
.env.*